import { Meta, Story } from '@storybook/react/types-6-0';
import { {{ ordered.[0] }}, {{ ordered.[0] }}Props } from '.';

export default {
  title: '{{ ordered.[0] }}',
  component: {{ ordered.[0] }},
  args: {
    children: '{{ ordered.[0] }}',
  },
  argTypes: {
    children: { type: 'string' },
  },
} as Meta;

export const Template: Story<{{ ordered.[0] }}Props> = (args) => {
  return (
    <div>
      <{{ ordered.[0] }} {...args} />
    </div>
  );
};
